server:
  port: 8084
spring:
  application:
    name: notification-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yaml
  mail:
    host: smtp.qiye.aliyun.com
    port: 465
    username: YOUR_EMAIL@YOUR_DOMAIN.com
    password: password
    protocol: smtp
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enable: true
